:root {
  --wp-ui--color-primary: #007cba;
  --wp-ui--color-text: #32373c;
  --wp-ui--color-heading: #23282d;
  --wp-ui--color-border: #7e8993;
  --wp-ui--color-background-app: #f1f1f1;
  --wp-ui--color-background-ui: white;
  --wp-ui--field-background-color: var(--wp-ui--color-background-ui);
  --wp-ui--field-box-shadow: 0 0 0 transparent;
  --wp-ui--field-border-radius: 4px;
  --wp-ui--field-border-color: var(--wp-ui--color-border);
  --wp-ui--field-border: 1px solid var(--wp-ui--field-border-color);
  --wp-ui--field-color: var(--wp-ui--color-text);
  --wp-ui--field-font-size: 14px;
  --wp-ui--field-padding: 0 8px;
  --wp-ui--field-min-height: 30px;
  --wp-ui--field-focus-border-color: var(--wp-ui--color-primary);
  --wp-ui--field-focus-box-shadow: 0 0 0 1px var(--wp-ui--color-primary);
  --wp-ui--field-focus-outline: 2px solid transparent;
  --wp-ui--button-background: #f3f5f6;
  --wp-ui--button-color: var(--wp-ui--color-primary);
  --wp-ui--button-border-color: var(--wp-ui--color-primary);
  --wp-ui--button-border-radius: 3px;
  --wp-ui--button-font-size: 13px;
  --wp-ui--button-font-weight: normal;
  --wp-ui--button-min-height: var(--wp-ui--field-min-height);
  --wp-ui--button-hover-background: #f1f1f1;
  --wp-ui--button-hover-border-color: #016087;
  --wp-ui--button-hover-color: #016087;
  --wp-ui--button-active-background: var(--wp-ui--button-background);
  --wp-ui--button-active-border-color: var(--wp-ui--color-primary);
  --wp-ui--button-active-box-shadow: none;
  --wp-ui--button-focus-background: var(--wp-ui--button-background);
  --wp-ui--button-focus-border-color: var(--wp-ui--color-primary);
  --wp-ui--button-focus-color: var(--wp-ui--color-primary);
  --wp-ui--button-focus-box-shadow: 0 0 0 1px var(--wp-ui--color-primary);
  --wp-ui--button-focus-outline: 2px solid transparent;
  --wp-ui--button-focus-outline-offset: 0;
  --wp-ui--button-primary-background: var(--wp-ui--color-primary);
  --wp-ui--select-font-size: var(--wp-ui--button-font-size);
  --wp-ui--select-min-height: var(--wp-ui--field-min-height);
  --wp-ui--select-padding: 3px 24px 3px 8px;
  --wp-ui--select-hover-color: var(--wp-ui--color-primary);
}
