@import '../mixins/dark-mode';

@at-root :root {
	// BUTTONS
	--wp-ui--button-background: #f3f5f6;
	--wp-ui--button-color: var(--wp-ui--color-primary);
	--wp-ui--button-border-color: var(--wp-ui--color-primary);
	--wp-ui--button-border-radius: 3px;
	--wp-ui--button-font-size: 13px;
	--wp-ui--button-font-weight: normal;
	--wp-ui--button-min-height: var(--wp-ui--field-min-height);
	// BUTTON :: STATE/HOVER
	--wp-ui--button-hover-background: #f1f1f1;
	--wp-ui--button-hover-border-color: #016087;
	--wp-ui--button-hover-color: #016087;
	// BUTTON :: STATE/ACTIVE
	--wp-ui--button-active-background: var(--wp-ui--button-background);
	--wp-ui--button-active-border-color: var(--wp-ui--color-primary);
	--wp-ui--button-active-box-shadow: none;
	// BUTTON :: STATE/FOCUS
	--wp-ui--button-focus-background: var(--wp-ui--button-background);
	--wp-ui--button-focus-border-color: var(--wp-ui--color-primary);
	--wp-ui--button-focus-color: var(--wp-ui--color-primary);
	--wp-ui--button-focus-box-shadow: 0 0 0 1px var(--wp-ui--color-primary);
	--wp-ui--button-focus-outline: 2px solid transparent;
	--wp-ui--button-focus-outline-offset: 0;

	// BUTTON :: PRIMARY
	--wp-ui--button-primary-background: var(--wp-ui--color-primary);
	--wp-ui--button-primary-border-color: var(--wp-ui--color-primary);
	--wp-ui--button-primary-color: white;
	--wp-ui--button-primary-text-decoration: none;
	--wp-ui--button-primary-text-shadow: none;
	// BUTTON :: PRIMARY :: STATE/HOVER
	--wp-ui--button-primary-hover-background: #0071a1;
	--wp-ui--button-primary-hover-border-color: #0071a1;
	--wp-ui--button-primary-hover-box-shadow: none;
	--wp-ui--button-primary-hover-color: white;
	// BUTTON :: PRIMARY :: STATE/ACTIVE
	--wp-ui--button-primary-active-background: #00669b;
	--wp-ui--button-primary-active-border-color: #00669b;
	--wp-ui--button-primary-active-box-shadow: none;
	// BUTTON :: PRIMARY :: STATE/FOCUS
	--wp-ui--button-primary-focus-box-shadow: 0 0 0 1px white,
		0 0 0 3px var(--wp-ui--color-primary);

	@include x-dark-mode {
		--wp-ui--button-background: var(--wp-ui--color-background-ui);
		--wp-ui--button-hover-background: #383c3f;
	}
}

.button,
.wrap .add-new-h2,
.wrap .add-new-h2:active,
.wrap .page-title-action,
.wrap .page-title-action:active {
	background: var(--wp-ui--button-background);
	color: var(--wp-ui--button-color);
	border-color: var(--wp-ui--button-border-color);
	border-radius: var(--wp-ui--button-border-radius);
	font-size: var(--wp-ui--button-font-size);
	font-weight: var(--wp-ui--button-font-weight);
	min-height: var(--wp-ui--button-min-height);

	&:hover {
		background: var(--wp-ui--button-hover-background);
		border-color: var(--wp-ui--button-hover-border-color);
		color: var(--wp-ui--button-hover-color);
	}

	&:active {
		background: var(--wp-ui--button-active-background);
		border-color: var(--wp-ui--button-active-border-color);
		box-shadow: var(--wp-ui--button-active-box-shadow);
	}

	&.button-primary {
		background: var(--wp-ui--button-primary-background);
		border-color: var(--wp-ui--button-primary-border-color);
		color: var(--wp-ui--button-primary-color);
		text-decoration: var(--wp-ui--button-primary-text-decoration);
		text-shadow: var(--wp-ui--button-primary-text-shadow);

		&:hover {
			background: var(--wp-ui--button-primary-hover-background);
			border-color: var(--wp-ui--button-primary-hover-border-color);
			box-shadow: var(--wp-ui--button-primary-hover-box-shadow);
			color: var(--wp-ui--button-primary-hover-color);
		}

		&:active {
			background: var(--wp-ui--button-primary-active-background);
			border-color: var(--wp-ui--button-primary-active-border-color);
			box-shadow: var(--wp-ui--button-primary-active-box-shadow);
		}

		&:focus {
			box-shadow: var(--wp-ui--button-primary-focus-box-shadow);
		}
	}
}
