@at-root :root {
	// FIELDS (INPUT/TEXTAREA)
	--wp-ui--field-background-color: var(--wp-ui--color-background-ui);
	--wp-ui--field-box-shadow: 0 0 0 transparent;
	--wp-ui--field-border-radius: 4px;
	--wp-ui--field-border-color: var(--wp-ui--color-border);
	--wp-ui--field-border: 1px solid var(--wp-ui--field-border-color);
	--wp-ui--field-color: var(--wp-ui--color-text);
	--wp-ui--field-font-size: 14px;
	--wp-ui--field-padding: 0 8px;
	--wp-ui--field-min-height: 30px;
	// FIELDS :: STATE/HOVER
	--wp-ui--field-focus-border-color: var(--wp-ui--color-primary);
	--wp-ui--field-focus-box-shadow: 0 0 0 1px var(--wp-ui--color-primary);
	--wp-ui--field-focus-outline: 2px solid transparent;
}

input[type='color'],
input[type='date'],
input[type='datetime-local'],
input[type='datetime'],
input[type='email'],
input[type='month'],
input[type='number'],
input[type='password'],
input[type='search'],
input[type='tel'],
input[type='text'],
input[type='time'],
input[type='url'],
input[type='week'],
select,
textarea {
	background-color: var(--wp-ui--field-background-color);
	border-radius: var(--wp-ui--field-border-radius);
	border: var(--wp-ui--field-border);
	box-shadow: var(--wp-ui--field-box-shadow);
	color: var(--wp-ui--field-color);
	font-size: var(--wp-ui--field-font-size);
	min-height: var(--wp-ui--field-min-height);
	padding: var(--wp-ui--field-padding);
}
